<% provide(:title, 'Home | Ruby on Rails Tutorial Sample App') %>
<div class="center jumbotron">
  <h1>Welcome to Your Course App</h1>

  <h2>
    This is the home page for RAD Assignment 2
    
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


  
  <div class="row">
    <div class="column">
      <h3><b>View Course as Guest User</b></h3>
      <p>Browse and view courses as a guest and sign up later</p>
        <%= link_to "Browse all Courses", '#', class: "btn btn-lg btn-primary" %>
    </div>
    <div class="column">
      <h3><b>Sign in to your account</b></h3>
      <p>Update your courses, rate course, view coordinator informations</p>
        <%= link_to "Log in to your account", '#', class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  