<footer class="footer">
  
  <!--<nav>-->
  <!--  <ul>-->
  <!--    <li><%= link_to "About",   about_path %></li>-->
  <!--    <li><%= link_to "Contact", contact_path %></li>-->
  <!--    <li><a href="http://news.railstutorial.org/">News</a></li>-->
  <!--  </ul>-->
  <!--</nav>-->
  
  
<div class="row">
    <div class="column2">
      <h3><b>Contact us</b></h3>
    <div class="column1">
      <form action="/action_page.php">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name..">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Your email">
       
        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Write something.." style="height:50px"></textarea>
        <input type="submit" value="Send">
      </form>
      <br>
      <p>Tel: 0123456789</p>
      <p>fax: 0123456</p>
      <p>Email: junliang.jiang@rmit.edu.au</p>
    </div>
    </div>
     <div class="column2">
      <h3><b>General Inquiries </b></h3>
      <br>
      <p>Andy Song</p>
      <p>Junliang Jiang</p>
      <p>Ali</p>
    </div>
    <div class="column2">
      <h3><b>Useful Links </b></h3>
      <br>
      <p>RMIT Course</p>
      <p>RMIT Help Desk</p>
      <p>RMIT International</p>
    </div>
    <div class="column2">
      <h3><b>Media </b></h3>
      <br>
      <p>Youtube</p>
      <p>Twitter</p>
      <p>Facebook</p>
      <p>Instagram</p>
      <p>Skype</p>
    </div>

</div>


</footer>