<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "yourcourse", root_path, id: "logo" %>
    
    <div class ="nav navbar-nav navbar-right">
        
        <div class="dropdown">
        <button class="dropbtn">Category</button>
        <div class="dropdown-content">
        <a href="#">Web development</a>
        <a href="#">Java</a>
        <a href="#">Full Stack Dev</a>
         <a href="#">iOS Engineering</a>
        </div>
      </div>
       <div class="dropdown">
        <button class="dropbtn">Location</button>
        <div class="dropdown-content">
        <a href="#">14.10.31</a>
        <a href="#">F14.08.26</a>
         <a href="#">14.10.30</a>
        </div>
        </div>
       
            <input type = "button" class="btn1" value="Log In">
        
      </div>
      </ul>
    </nav>
  </div>
</header>